@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">Car Number</div>
        <div class="col-4"><input type="text" id="carInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Cone Number</div>
        <div class="col-4"><input type="text" id="coneInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Announce Pickup" />
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/announce.js"></script>